/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

#registro{
     font-size: 200%;
     font-weight:bold;
     position: relative;
     right: -45%;
}

.centrar{
    position: absolute;
    left:35%;
}

.centrarContenido{
    display: list-item;
    position: relative;
    left: 40%;
}

#pageRegistro{
    background: #FFFFFF;
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
